{% extends "layout.html" %}
{% block content %}

<div _ngcontent-c2="" class="wrapper">
	<div _ngcontent-c2="" class="page-header page-header-custom" filter-color="orange">
		<div _ngcontent-c2="" class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url(&quot;https://boostdeploy.firebaseapp.com/assets/img/boost%20_phone_chip.png&quot;); transform: translate3d(0px, 0px, 0px);"></div>
		<div _ngcontent-c2="" class="container">
			<div _ngcontent-c2="" class="content-center">
				<h1 _ngcontent-c2="" class="title" style="color: white;">Boost</h1>
				<div _ngcontent-c2="" class="text-center">
					<h5 _ngcontent-c2="" class="title" style="color: white;">A new way to share</h5>
				</div>
			</div>
		</div>
	</div>
	<div _ngcontent-c2="" class="section section-about-us">
		<div _ngcontent-c2="" class="container">
			<div _ngcontent-c2="" class="row">
				<div _ngcontent-c2="" class="col-md-8 ml-auto mr-auto text-center">
					<h2 _ngcontent-c2="" class="title">What Does Boost Do</h2>
					<h5 _ngcontent-c2="" class="description">Boost is bringing the cutting edge of NFC technology to your doorstep. Complete with a simple graphical interface, boost breaks the techonological barrier allowing you to transfer data when and where you want instantly with a tap</h5>
				</div>
			</div>
			<div _ngcontent-c2="" class="separator separator-primary">
				
			</div>
			<div _ngcontent-c2="" class="section-story-overview" style="padding-left: 150px !important;">
				<div _ngcontent-c2="" class="row">
					<div _ngcontent-c2="" class="col-md-6" style="padding-right: 100px !important;">
						<h3 _ngcontent-c2="">Share your social media</h3>
						<p _ngcontent-c2="">Link any social media account of your liking to any of your boost tiles. Change it on the fly using our mobile friendly website with no limitations. You can even create a customized Boost profile with a completely customizable set of information" </p>
						<div _ngcontent-c2="" class="image-container image-right" style="background-image: url('https://boostdeploy.firebaseapp.com/assets/img/resumeIPHONE.jpg');">
							
						</div>
					</div>
					<div _ngcontent-c2="" class="col-md-5">
						<div _ngcontent-c2="" class="image-container image-right" style="background-image: url('https://boostdeploy.firebaseapp.com/assets/img/socialmedia.png'); ">
							
						</div>
						<h3 _ngcontent-c2="">Share your resume or business card</h3>
						<p _ngcontent-c2="">Boost allows you to share your resume with anyone with a simple tap of your boost tile. The reciving party needs no third party app, they recieve a link your resume or business card hosted through your personal boost portal. link any neccesary project or relevant work with another tile or build a boost business profile. </p>
					</div>
				</div>
			</div>
			
	</div>
	<footer _ngcontent-c2="" class="footer">
		<div _ngcontent-c2="" class="container">
			<nav _ngcontent-c2="">
				<ul _ngcontent-c2="">
					<li _ngcontent-c2="">
						<a _ngcontent-c2="" href="https://www.google.com/search?q=cats&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0ahUKEwiN3Z3yndTlAhVDaq0KHcXECiwQ_AUIEigB&amp;biw=1920&amp;bih=968"> About Us </a>
					</li>
					<li _ngcontent-c2="">
						<a _ngcontent-c2="" href="https://www.google.com/search?q=cats&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0ahUKEwiN3Z3yndTlAhVDaq0KHcXECiwQ_AUIEigB&amp;biw=1920&amp;bih=968"> Blog </a>
					</li>
					<li _ngcontent-c2="">
						<a _ngcontent-c2="" href="https://www.google.com/search?q=cats&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0ahUKEwiN3Z3yndTlAhVDaq0KHcXECiwQ_AUIEigB&amp;biw=1920&amp;bih=968"> MIT License </a>
					</li>
				</ul>
			</nav>
			<div _ngcontent-c2="" class="copyright"> © 2020, Designed by <a _ngcontent-c2="" href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by Boost. </div>
		</div>
	</footer>
</div>
    
    </div>
    

{% endblock content %}
